body {
  background-color: black;
  color: white;
}

.login-or-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login, .signup {
  max-width: 300px;
}
.login h2, .signup h2 {
  text-align: center;
  
}
.login input, .signup input {
  display: block;
}

@import 'bootstrap/dist/css/bootstrap.min.css'